@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0rem 15rem;
  box-sizing: border-box;
}

.flex-container {
  height: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.flex-container .cards {
  height: 100%;
  background-color: yellow;
  padding: 2.688rem;
}
.flex-container .cards:first-child {
  border-radius: 8px 0 0 8px;
}
.flex-container .cards:last-child {
  border-radius: 0 8px 8px 0;
}
.flex-container .cards:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
}
.flex-container .cards:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.flex-container .cards:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
}
.flex-container .cards h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}
.flex-container .cards p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.438rem;
  /* word-spacing: 4px; */
}
.flex-container .cards button {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  margin-top: 70px;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  background-color: white;
}

.flex-container .cards button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.sedanbtn {
  color: hsl(31, 77%, 52%);
}

.suvbtn {
  color: hsl(184, 100%, 22%);
}

.luxurybtn {
  color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
